<div class="vpad--xxxl bg--img" style="background-image: url('{{site.img}}/content/competition-promo.jpg');">
  <div class="container container--xxl">
    <div class="text--center text--white">
      <h2 class="title title--md title--display text--upper text--bolder">Choose your destination and enter to win!</h2>
      <div class="space--md"></div>
      <p class="text--xxl">Ready for your photographic adventure? Head to the entry page to be in with a chance of winning</p>
      <div class="space--md"></div>
      <a href="{{site.baseurl}}/competition" class="btn btn--orange">Enter now</a>
    </div>
  </div>
</div>