<div class="bg--grey-darker text--white">
  <div class="container container--100 container--no-padding">
    <div class="row row--valign-center row--no-gutters">

      <div class="col col--xxl-6 col--xxxl-7">

        <div class="boxpad--xxl text--center">
          <div class="promo-nikon__logo"></div>
          <div class="space--sm"></div>
          <h2 class="title title--lg title--display text--bold text--upper">GO MIRRORLESS WITH NIKON</h2>
          <div class="space--sm"></div>
          <p class="text--lg">Capture golden hour with the Nikon Z mirrorless system. Designed around the ultra-wide Z mount, Nikon Z cameras and NIKKOR Z lenses give you the freedom to create incredible photos and mesmerizing movies.  The range now includes the next generation version of the flag ship cameras, the Z 6II and Z 7II.</p>
          <div class="space--md"></div>
          <a href="https://www.nikon.co.uk/en_GB/products/category_pages/digital_cameras/mirrorless/overview.page" target="_blank" class="btn btn--yellow">Explore the range</a>
        </div>

      </div>

      <div class="col col--xxl-6 col--xxxl-5">

        <div class="img img--16-9" style="background-image: url({{site.img}}/content/nikon-promo.jpg);"></div>
        <div class="hpad--xl text--center bg--black">
          <div class="space--sm"></div>
          <p class="text--xxl"><strong>Instant savings</strong> now available on a wide range of bodies and lenses until January 10 2021, including the Nikon Z 7, Z 5 and Z 50.  The time is now.</p>
          <div class="space--md"></div>
          <a href="https://www.nikon.co.uk/en_GB/promotions/eu2020is" target="_blank" class="btn btn--yellow">FIND OUT MORE</a>
          <div class="space--xxl"></div>
        </div>

      </div>

    </div>
  </div>
</div>