<div class="vpad--xl bg--black">
  <div class="container container--100">
    <div class="row row--valign-center">

      <div class="col col--6 text--white">
        <div class="width width--lg boxpad--xl">
          <div class="promo-nikon__logo"></div>
          <div class="space--sm"></div>
          <h2 class="title title--md title--display text--bold text--upper">Claim 10% off the latest mirrorless and DSLR cameras with Nikon</h2>
          <div class="space--sm"></div>
          <p class="text--lg">Discover the new Z 6, Z 7 and Z 50 mirrorless cameras and the D780 DSLR. Push your photography to the next level with a further 10% off Nikon School tutoring. Explore the limitless possibilities of light with Nikon.</p>
          <div class="space--md"></div>
          <a href="{{site.baseurl}}/competition" class="btn btn--yellow">Enter now</a>
        </div>
      </div>

      <div class="col col--6">
        <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/nikon-promo.jpg);"></div>
      </div>

    </div>
  </div>
</div>