<div class="vpad--xxxl bg--img" style="background-image: url('{{site.img}}/content/competition-promo.jpg');">
  <div class="container container--xl">
    <div class="text--center text--white">
      <div class="text--xxxl text--upper text--bold text--wide">Ready for your photographic adventure?</div>
      <h2 class="title title--md title--display text--bolder text--upper">Choose your destination and enter to win!</h2>
      <div class="width width--lg">
        <div class="space--sm"></div>
        <a href="{{site.baseurl}}/competition" class="btn btn--orange">Enter now</a>
      </div>
    </div>
  </div>
</div>