<div class="vpad--xl bg--black">
  <div class="container container--100">
    <div class="row row--valign-center">

      <div class="col col--6 text--white">
        <div class="width width--lg boxpad--xl">
          <div class="promo-nikon__logo"></div>
          <div class="space--sm"></div>
          <h2 class="title title--md title--display text--bold text--upper">Go mirrorless with the Nikon Z series</h2>
          <div class="space--sm"></div>
          <p class="text--lg">Discover the new Z5, Z 6, Z 7 and Z 50 full-frame mirrorless cameras. Push your photography to the next level with the ultra-wide Z mount, with NIKKOR lenses that capture more light than ever. Sign up to the newsletter to stay up-to-date with the latest from Nikon.</p>
          <div class="space--md"></div>
          <a href="https://www.nikon.co.uk/en_GB/product/digital-cameras/mirrorless/enthusiast/z-5-24-50-kit" target="_blank" class="btn btn--yellow">Find out more</a>
        </div>
      </div>

      <div class="col col--6">
        <div class="img img--4-3" style="background-image: url({{site.img}}/content/nikon-promo.jpg);"></div>
      </div>

    </div>
  </div>
</div>