---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title-sup: Don’t miss your
  title: Golden Hour

intro: >
  <p class="text--xl">The days are getting shorter. Make sure you're prepared for those golden landscapes with this incredible competition for aspiring photographers. Nikon and Secret Escapes have teamed up to offer you two unmissable British escapes: from country to coast, choose your luxury location and capture breathtaking landscapes with the Nikon Z 5 full frame, mirrorless camera and NIKKOR Z 24-50mm lens.</p>


---

<div class="container container--xxl vpad--xxl text--center">
  {{page.intro}}
  <div class="space--sm"></div>
  <a href="{{site.baseurl}}/competition" class="btn btn--orange">Enter now</a>
</div>


<div class="bg--img-fixed vpad--xxl" style="background-image: url({{site.img}}/content/{{page.id}}/section-bg.jpg);">
  <div class="container">

    <div class="width width--xl text--center">
      <h2 class="title title--lg text--bold">Where will golden hour take you?</h2>
      <div class="space--xxs"></div>
      <p class="text--xl">Meet our expert photographers as they give you insider tips on how best to capture these gorgeous destinations, and don’t miss your chance to win the perfect landscape photography prize.</p>
    </div>
    <div class="space--lg"></div>
    <div class="row row--6-6">
      {% assign content-pages = site.html_pages | where: 'layout', 'content' | sort:'nav-order' %}
      {% for page in content-pages %}
      <div class="col">
        <div class="img img--1-1" style="background-image: url({{site.img}}/content/{{page.id}}/banner.jpg);">
          <a href="{{site.baseurl}}{{page.url}}" class="img__link"></a>
          <div class="img__content">
            <div class="boxpad--md text--white">
              <hr class="hr--center">
              <h4 class="title title--md title--display text--bold text--wide text--upper">{{page.overview.title}}</h4>
              <hr class="hr--center">
              <p class="text--xl">{{page.overview.content}}</p>
            </div>
          </div>
          <div class="img__overlay"></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


  {% include page/promo-competition.html %}