---
layout: default
---

<div class="container vpad--xxl">
  <div class="width width--xl text--center">
    {{page.intro}}
  </div>
</div>

<div class="bg--grey-lightest vpad--xxl">

  <div class="width width--xxl text--center">
    <h4 class="title title--md">{{page.photographer.title}}</h4>
    <div class="space--lg"></div>
  </div>

  <div class="width width--xxl bg--white">
    <div class="boxpad--xxl">
      <div class="width width--xs">
        <div class="bg-img bg-img--circle"></div>
      </div>
      <div class="space--md"></div>
      <div class="title title--md text--center">{{page.photographer.name}}</div>
      <p class="text--xl text--center">{{page.photographer.bio}}</p>
      <hr class="hr--center">
      {{page.photographer.interview}}
      <div class="space--lg"></div>
      <div class="row row--constant-4-4-4">
        <div class="col">
          <div class="bg-img bg-img--1-1 bg-img--lg-4-3 bg-img--xxl-3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--1-1 bg-img--lg-4-3 bg-img--xxl-3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');"></div>
        </div>
        <div class="col">
          <div class="bg-img bg-img--1-1 bg-img--lg-4-3 bg-img--xxl-3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="space--xxl"></div>

</div>


{% include offer/all-offers-dynamic.html sheet=page.offers-sheet limit="6" %}
