---
layout: default
---

<div class="container vpad--xxl">
  <div class="width width--xl text--center">
    {{page.intro}}
  </div>
</div>

<div class="bg--grey-lightest vpad--xxl">

  <div class="width width--xxl text--center">
    <h4 class="title title--md text--bold">{{page.photographer.title}}</h4>
    <div class="space--xl"></div>
  </div>

  <div class="width width--xxl photographer">
    <div class="boxpad--xxxl">
      <div class="photographer__intro text--center">
        <div class="width width--xs">
          <div class="img img--circle" style="background-image: url({{site.img}}/content/{{page.id}}/photographer.jpg);"></div>
        </div>
        <div class="space--md"></div>
        <div class="title title--sm title--display text--bolder text--upper">{{page.photographer.name}}</div>
        {% if page.photographer.bio %}<p class="text--xl text--center">{{page.photographer.bio}}</p>{% endif %}
      </div>

      <div class="space--lg"></div>
      <div class="row row--constant-4-4-4 row--gutters-xs">
        <div class="col">
          <div class="img img--1-1 img--lg-4-3 img--xxl-3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/1.jpg');"></div>
        </div>
        <div class="col">
          <div class="img img--1-1 img--lg-4-3 img--xxl-3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/2.jpg');"></div>
        </div>
        <div class="col">
          <div class="img img--1-1 img--lg-4-3 img--xxl-3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/3.jpg');"></div>
        </div>
      </div>

      <div class="space--lg"></div>
      {{page.photographer.interview}}

    </div>
  </div>

</div>

{% include page/promo-competition.html %}

{% include offer/all-offers-dynamic.html sheet=page.offers-sheet limit="6" %}
